*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.layout{
  background-image: url(../img/trenogiallo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: right;
  height: 20vh;
  width: 100vw;
}

nav .container{
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100vw / 3);

}

nav .container:first-child{
  background-color: black;
  width: calc(100vw / 3);
  height: 15vh;
}
nav .container:last-child{
  background-color: black;
  width: calc(100vw / 3);
  height: 15vh;

}

nav .contentblack{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

nav .contentlogo{
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 20vh;
}

.shop{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.quadrato{
  border: 2px solid #E2BA13;
  border-radius: 5px;


}

i{
  color: #E2BA13;
  padding:10px 14px;
}

img{
  height: 18vh;
}

.dati {
  height: 40vh;
}

.biglietto {
  height: 40vh;
}

.dati .content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.biglietto .content{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40vh;
}

.dati .row{


    height: 40vh;
    width: 100vw;
    text-align: center;

}

.sfondo{
  background-color: rgba(0,0,0,0.7);
  height: 40vh;
  width: 100vw;
  color: #E2BA13;
  text-align: center;
}

.biglietto h1 {
  margin-top: 10px;

}

.riquadro{
  height: 220px;
  border-radius: 5px;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 15px;
  color: black;
  line-height: 60px;
}

.dati .riquadro{
  background-color: rgba(255, 255, 255, 0.8);
}

h2{
  vertical-align: middle;
}

h3{
  color:#E2BA13;
  padding: 5px 5px;
}

.ticket {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-end;
}

table{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;

  height: 170px;
  width: 90%;
}

tr:first-child{
  background-color: black;
}

th{
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
}

.form{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

button{
  
  border: 1px solid #E2BA13;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: #E2BA13;
  margin: 0 15px;
  width: 40%;
  font-size: 15px;
  font-weight: 800;
}


.ticket {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 100%;


}

.ticket label{
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}


.ticket input{
  border-radius: 5px;
  padding: 5px 5px;
  border: 2px solid  black;
  width: 150px;
  background-color:#E2BA13;
  font-size: 15px;
  font-weight: 800;
}

.hidden{
  display:none
}

.ticket input:last-child {
  border: 1px solid #E2BA13;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: #E2BA13;
  margin: 0 15px;
  width: 40%;
}
